* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px rgb(10, 0, 68) solid;
}

header a {
  padding: 0.5em;
  margin: 2em 0.5em 0 0;
  font-size: 1.3em;
  flex: wrap;
  flex-direction: row-reverse;
  align-content: flex-end;
  color: rgb(46, 40, 42);
  transition: all 250ms ease;
}

header a:hover,
header a:focus {
  transform: translate(-8px -8px);
  color: rgb(23, 190, 187);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

header img {
  height: 100px;
  width: 100px;
  margin-left: 50px;
}

h2 {
  display: block;
}

.heroImage {
  height: 10em;
  width: 100%;
  background-image: url(../assets/code-screen.jpg);
  text-align-last: right;
}

.heroImage h1 {
  margin: 1em 1em;
  font-size: 3em;
  color: rgb(23, 190, 187);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section a {
  text-decoration: none;
  color: black;
}

.aboutMe {
  margin: 1em;
}

.aboutMeWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutMeWrapper img {
  max-width: 20%;
  border: 4px rgb(10, 0, 68) solid;
  margin-top: 10px;
  justify-content: center;
}

.aboutMeWrapper p {
  max-width: 70%;
}

.aboutMe p,
.contactMe p {
  background-color: aliceblue;
  border: 4px rgb(10, 0, 68) solid;
  padding: 2em;
  margin: 1em;
  text-align: center;
  width: fit-content;
}

.myWork {
  margin-left: 1em;
}

.content {
  border: 0.4em solid rgba(23, 190, 187, 1);
  margin: 1em;
  padding: 2em;
  width: 35em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 350ms ease;
  overflow: hidden;
  position: relative;
  height: 15em;
}

.content:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.fullWidth {
  width: 77em;
}

.content.fullWidth {
  height: 30em;
}

.contentImg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  transition: all 350ms ease;
}

.contentImg img {
  max-width: -webkit-fill-available;
}

.contentImg:hover {
  opacity: 1;
}

.contentInfo {
  position: relative;
  width: 30%;
  background-color: rgba(23, 190, 187, 1);
  margin-left: -2em;
  margin-top: -2em;
  padding: 0.5em;
  width: fit-content;
}

.contactMe {
  margin-left: 1em;
}

.contactMe span {
  padding: 0 10px 0 0;
}

footer {
  margin-top: 20px;
  height: 4em;
  background-color: rgb(10, 0, 68);
  color: white;
}

footer span {
  font-style: italic;
  font-weight: lighter;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  justify-content: center;
}

i {
  padding-right: 5px;
}

@media (max-width: 1354px) {
  .content {
    width: 77em;
  }
}

@media (max-width: 1200px) {
  .aboutMeWrapper img {
    max-width: 30%;
  }
}

@media (max-width: 600px) {
  .headerImage {
    display: none;
  }

  header {
    height: 104px;
    place-content: center;
  }

  .aboutMeWrapper img {
    max-width: 40%;
  }
}