* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
header {
  background-color: rgba(237, 184, 139, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  /* float: right; */
  padding: 0.5em;
  margin: 2em 0.5em 0 0;
  font-size: 1.3em;
  flex: wrap;
  flex-direction: row-reverse;
  align-content: flex-end;
}
a {
  color: rgb(46, 40, 42);
  transition: all 250ms ease;
}
a:hover,
a:focus {
  transform: translate(-8px -8px);
  color: rgb(23, 190, 187);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.heroImage {
  height: 10em;
  width: 100%;
  background-image: -webkit-linear-gradient(
    left,
    rgb(46, 40, 42),
    rgb(23, 190, 187)
  );
  text-align-last: right;
}
.heroImage h1 {
  margin: 1em 1em;
  font-size: 3em;
}
section {
  display: flex;
  flex-wrap: wrap;
}
.content {
  border: 0.4em solid rgba(23, 190, 187, 1);
  margin: 1em;
  padding: 2em;
  width: 35em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 350ms ease;
}
.content:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.fullWidth {
  width: 77em;
}

@media (max-width: 1340px) {
  .content {
    width: 77em;
  }
}
